.btn {
  padding: 10px 20px;
  background: rgb(45, 194, 124);
  color: white;
  border: none;
  font-size: 22px;
  border-radius: 5px;
  font-weight: bold;
}

.btn:disabled {
  background: lightgrey;
}

.btn--compact {
  padding: 5px 10px;
}

.btn > img {
  width: 24px;
}
