.field {
  display: flex;
  position: relative;
  flex-direction: column;
  background: #fff;
  margin: 10px 0px;
}

input {
  overflow: hidden;
  padding: 5px 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

.c-field--compact input {
  padding: 0px;
}

.c-field--medium input {
  padding: 5px;
}

.c-field--large input {
  padding: 10px;
}

input:focus {
  border-color: coral;
  outline: none;
}

.c-field--in-progress input {
  border-color: coral;
}

.c-field--validated input {
  border-color: green;
}

.c-field--invalid input {
  border-color: red;
}